{% extends "hatsdb/static/header.html" %}
{% load humanize %}
{% load staticfiles %}
{% load dajaxice_templatetags %}
{% load get_underscore_vals %}
{% block head %}
    <script type="text/javascript" src="{% static "javascripts/dajax/jquery.dajax.core.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/dajaxice/dajaxice.core.js" %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static "javascripts/site/unusuals.js" %}"></script>
    <script type="text/javascript" src="{% static "javascripts/site/dynamic_info.js" %}"></script>
    <link href="{% static "stylesheets/multiple-select.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static "stylesheets/site/unusuals.css" %}"/>
{% endblock %}
{% block title%}Unusuals{% endblock %}


{% block content %}
{% if user.is_authenticated %}

<input type='hidden' value='{{game_type}}' id='game_type' name='game_type'>
<div class='row' style='margin-bottom:20px'>
  <div class='large-12 columns'>
    <dl class="accordion" data-accordion>
      <dd class="accordion-navigation">
        <a href="#filter">
        {% if game_type == 'tf2' %}
         <img src="{% static "images/tf2.png" %}" style="height: 31px;">
        {% elif game_type == 'dota2' %}
          <img src="{% static "images/dota2.png" %}" style="height: 31px;">
        {% else %}
          <img src="{% static "images/csgo.png" %}" style="height: 31px;">
        {% endif %}
          &nbspFilters (click to expand)
        </a>
        <div id="filter" class="content active">
          
            <!-- item row -->
            <div class='row'> 
                <div class='large-2 columns'>
                  <label class='right inline' for='item_name'>Item</label>
                </div>

                <div class='large-7 columns'>
                  <input type="text" id='item_name' name='item_name' list="items" placeholder='Type item name and hit enter to filter' autocomplete='off'>
                  <input type="hidden" id='defindex' name='defindex'>
                </div>

                <div class='large-2 columns'>
                  <a href='#!' onclick="get_defitems()" class="button small postfix">Search</a>
                </div>

                <div class='large-1 columns'>
                  <i class='fi-check hidden'></i>
                </div>
                <input type='hidden' id='page' name='page' value='1'>

                <datalist id="items">
                </datalist>
            </div>

            {% if game_type != 'csgo' %}
            <!-- effect row -->
              <div class='row'>
                <div class='large-2 columns'>
                  <label class='right inline' for='effect_name'>
                    {% if game_type == 'tf2' %}
                    Effect
                    {% elif game_type == 'dota2' %}
                    Gems
                    {% endif %}
                  </label>
                </div>

                {% if game_type == 'tf2' %}
                <div class='large-10 columns'>
                  <select name='effect' id='effect'>
                    <option value=''>Any effect</option>
                    {% for e in data.effects %}
                    <option value='{{e.defindex}}'>{{e.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                {% elif game_type == 'dota2' %}
                <div class='large-10 columns'>
                  <select name='effect' id='effect'>
                    <option value=''>Any gem</option>
                    {% for g in data.gems %}
                    <option value='{{g.defindex}}'>{{g.name}}</option>
                    {% endfor %}
                  </select>
                </div>
                {% endif %}
              </div>

            {% else %}

            <!-- exterior row -->
              <div class='row'>
                <div class='large-2 columns'>
                  <label class='right inline' for='exterior'>
                      Exterior
                  </label>
                </div>

                <div class='large-10 columns'>
                  <select name='exterior_id' id='exterior_id'>
                    <option value=''>Any exterior</option>
                    {% for e in data.exteriors %}
                    <option value='{{e.defindex}}'>{{e.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            
            <!-- quality row -->
              <div class='row'>
                <div class='large-2 columns'>
                  <label class='right inline' for='quality'>
                      Quality
                  </label>
                </div>

                <div class='large-10 columns'>
                  <select name='quality_id' id='quality_id'>
                    <option value=''>Any quality</option>
                    <option value='3'>★</option>
                    <option value='20'>★ StatTrak™</option>
                  </select>
                </div>
              </div>
            {% endif %}


            <!-- sort by & level row -->
              <div class='row'>
                <div class='large-2 columns'>
                  <label class='right inline' for='sorttype'>Sort by:</label>
                </div>

                <div class='large-3 columns {% if game_type != 'tf2' %}end{% endif %}'>
                  <label for="sort_by1">
                    <input name="sorttype" type="radio" id="sort_by1" value=0 checked>
                    <span class="custom radio checked"></span>
                    Unbox date (default)
                  </label>

                  <label for="sort_by2">
                    <input name="sorttype" type="radio" id="sort_by2" value=1>
                    <span class="custom radio"></span>
                    Hours
                  </label>
                </div>

                {% if game_type == 'tf2' %}
                <div class='large-2 columns'>
                  <label class='right inline' for='level'>Level</label>
                </div>

                <div class='large-5 columns'>
                    <input type="text" id='level'>
                </div>
                {% endif %}
              </div>

            <!-- filter button -->
              <div class='row'>
                <div class='large-4 columns large-centered'>
                  <a class='success button filter_button' onclick='load_filtered_unusuals(0)' style='width:100%'>Filter</a>
                </div>
              </div>

        </div>
      </dd>
    </dl>
  </div>
</div>

<div class='row'>
  <div class='large-12 columns' id='loaded_defitems'>
  </div>
</div>

<div id='results_wrapper'>
 {% if game_type == 'tf2' %}
   {% include "hatsdb/ajax/unusuals_tf2.html"%}
 {% elif game_type == 'dota2' %}
   {% include "hatsdb/ajax/unusuals_dota2.html"%}
 {% else %}
   {% include "hatsdb/ajax/unusuals_csgo.html"%}
 {% endif %}
</div>

{% else %}
{% endif %}

{% endblock %}


{% block footer_scripts %}
<script type="text/javascript">
$('#item_name').on('input', function a(){load_names()} );
$('#item_name').keypress(function b(event){if(event.keyCode == 13){get_defitems()}} );
</script>
    <script src="{% static "javascripts/vendor/jquery.multiple.select.js" %}"></script>
    <script>
        $("select").multipleSelect({
            filter: true,
            placeholder: "Click to select"
        });
    </script>
{% endblock %}